<h1>Listing Articles</h1>
<% @articles.each do |article| %>
Title:        <%= article.title %>
Description:  <%= article.description %>
<%= link_to 'Edit', edit_article_path(article) %>
<br/>
<% end %>
<br/>
<%= link_to 'New Article', new_article_path %>